body {
    background-color: greenyellow;
  }

  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
  }

  header {
    flex-direction: column;
  }

  .page1 {
    grid-column: span 11;
    display: grid;
    gap: 16px;
  }