body {
    background-color: greenyellow;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
}

header {
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
    h1 {
        writing-mode: vertical-rl;
        text-orientation: upright;
    }
}

.page1 {
    grid-column: span 11;
    min-height: 100vh;
    .top, .bottom {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr);
    }

    .top {
        .page-title {
            grid-column: span 4;
        }

        .text {
            grid-column: span 7;
        }
    }

    .bottom {
        .image {
            grid-column: span 5;
        }
        .text {
            grid-column: span 6;
        }
    }
}

.page2 {
    grid-column: 2 / span 11;
    min-height: 100vh;
    .images, .menu-list {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr);
    }

    .image-small {
        grid-column: span 3;
    }
    .image {
        grid-column: span 4;
    }

    .menu-item {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(11, 1fr);
        grid-column: span 11;

        .menu-name {
            grid-column: span 4;
        }
        .menu-info {
            grid-column: span 6;
        }
        .menu-price {
            grid-column: span 1;
        }
    }
}


