body {
    background-color: green;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #FFF;
    position: sticky;
    top: 0;
    h1 {
        margin: 0;
    }
}



