body {
    background-color: green;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #FFF;
    position: sticky;
    top: 0;
    h1 {
        margin: 0;
    }
}

.menu-item {
    background-color: white;
    border-style: solid none;
    border-width: 2px;
    border-color: black;
    margin-bottom: 16px;
}



