$green: #00ff37;
$yellow: #fff236; 
$purple: hsl(263 100% 73%);
$blue: #28BCEC;

$jockey: "Jockey One", sans-serif;
$roboto: "Roboto Condensed", serif;
$courier: "Courier Prime", monospace;

$gap: 16px;