@import "vendor/normalize";

@import "variables";

@import "mobile";

@media screen and (min-width: 640px) {
  @import "tablet";
}

@media screen and (min-width: 1024px) {
  @import "desktop_small";
}

@media screen and (min-width: 1280px) {
  @import "desktop";
}

@media (prefers-reduced-motion: no-preference) {
  /* ------------ BURGER HOVER ANIMATION ------------ */
  input:hover + .menu button span {
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  input:hover + .menu button span:nth-child(1) {
    transform: translateX(-5px);
  }
  input:hover + .menu button span:nth-child(2) {
    transform: translateX(5px);
  }
  input:hover + .menu button span:nth-child(3) {
    transform: translateX(-5px);
  }

  /* ------------ OPEN / CLOSE HOVER ANIMATION ------------ */
  input:checked + .menu button span {
    position: absolute;
    transition: all 0.3s ease-in-out;
  }
  input:checked + .menu button span:nth-child(2) {
    opacity: 0;
  }
  input:checked + .menu button span:nth-child(1) {
    transform: rotate(45deg);
  }
  input:checked + .menu button span:nth-child(3) {
    transform: rotate(-45deg);
  }

  /* ------------ ARROW HOVER ANIMATION ------------ */
  .page1 {
    .arrow {
      transition: 150ms ease-in-out;
    }
    .image:hover .arrow {
      transition: 250ms ease-in-out;
      transform: translateY(0.6rem) rotate(90deg);
    }
  }
}