@import "vendor/normalize";

@import "variables";

@import "mobile";

@media screen and (min-width: 640px) {
  @import "tablet";
}

@media screen and (min-width: 1024px) {
  @import "desktop_small";
}

@media (prefers-reduced-motion: no-preference) {
  #menu-button span {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  /* ------------ BURGER HOVER ANIMATION ------------ */
  #menu-button:hover span {
    transition: all 0.3s ease-in-out;
  }
  #menu-button:hover span:nth-child(1) {
    transform: translateX(-0.25rem);
  }
  #menu-button:hover span:nth-child(2) {
    transform: translateX(0.25rem);
  }
  #menu-button:hover span:nth-child(3) {
    transform: translateX(-0.25rem);
  }
  /* ------------ OPEN / CLOSE HOVER ANIMATION ------------ */
  #menu-button.menu-open span {
    transition: all 0.3s ease-in-out;
  }
  #menu-button.menu-open span:nth-child(2) {
    opacity: 0;
  }
  #menu-button.menu-open span:nth-child(1) {
    transform: rotate(45deg) translateY(1.06rem);
  }
  #menu-button.menu-open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-1.06rem);
  }
  
  /* ------------ WHITE ARROW HOVER ANIMATION ------------ */
  .page1 {
    .arrow {
      transition: 150ms ease-in-out;
    }
    .image:hover .arrow {
      transition: 250ms ease-in-out;
      transform: translateY(0.5rem) rotate(90deg);
    }
      /* ------------ BLACK ARROW HOVER ANIMATION ------------ */
    .text {
      .arrow {
        transition: 150ms ease-in-out;
      }
      .explore-menu:hover .arrow {
        transition: 250ms;
        transform: translateX(0.3rem);
      }
    }
  }
}