@import "vendor/normalize";

@import "mobile";

@import "colors";

@media screen and (min-width: 640px) {
  @import "tablet";
}

@media screen and (min-width: 1024px) {
  @import "desktop_small";
}

@media screen and (min-width: 1280px) {
  @import "desktop";
}

@media (prefers-reduced-motion: no-preference) {
  .page1 {
    .arrow {
      transition: 150ms ease-in-out;
    }
    .image:hover .arrow {
      transition: 250ms ease-in-out;
      transform: translateY(0.6rem) rotate(90deg);
    }
  }
}